services:
  # Web Service for Backend + Frontend
  - type: web
    name: panda-express-app
    runtime: node
    region: oregon
    plan: free
    buildCommand: "./render-build.sh"
    startCommand: "cd backend && npm start"
    envVars:
      - key: NODE_ENV
        value: production
      - key: PGHOST
        sync: false
      - key: PGPORT
        sync: false
      - key: PGDATABASE
        sync: false
      - key: PGUSER
        sync: false
      - key: PGPASSWORD
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: COOKIE_SECRET
        generateValue: true
      - key: BACKEND_PORT
        value: 5000
      - key: PORT
        value: 5000
